@page "{id:int?}"
@model HoleyForkingShirt.Pages.Products.DetailsModel
@using Microsoft.AspNetCore.Identity
@using HoleyForkingShirt.Models
@{
    ViewData["Title"] = $"{Model.Product.Name}";
    Layout = "_Layout";
}

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

    <main class="details">
        <img class="productimage" src="@Model.Product.Image" />
        <h2 class="subtitle">@Model.Product.Name</h2>
        <p>@Model.Product.Description</p>
        <p>Size: @Model.Product.Size</p>
        <p>$@Model.Product.Price</p>
        @if (SignInManager.IsSignedIn(User))
        {
            <form method="post">
                <input hidden name="inputId" value="@Model.Product.ID" />
                <button action="submit">Add To Cart</button>
            </form>
            @await Component.InvokeAsync("MiniCart")
        }

    </main>
