@page "{id:int?}"
@model HoleyForkingShirt.Pages.Products.DetailsModel
@using Microsoft.AspNetCore.Identity
@using HoleyForkingShirt.Models
@{
    ViewData["Title"] = $"{Model.Product.Name}";
    Layout = "_Layout";
}

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

    <div class="details">
        <img class="productimage" src="@Model.Product.Image" />
        <h2 class="subtitle">@Model.Product.Name</h2>
        <p>@Model.Product.Description</p>
        <p>Size: @Model.Product.Size</p>
        <p>$@Model.Product.Price</p>

        <div class="row">
            <a class="col-2 back" asp-page="/Products/Shop">Keep Shopping</a>
            @if (SignInManager.IsSignedIn(User))
            {
                <form class="col-6" method="post">
                    <input hidden name="inputId" value="@Model.Product.ID" />
                    <button class="back" action="submit">Add To Cart</button>
                </form>
            }
        </div>

        @if (SignInManager.IsSignedIn(User))
        {
            @await Component.InvokeAsync("MiniCart")
        }

    </div>
