@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using AuthorizeNet.Api.Contracts.V1;
@using HoleyForkingShirt.Models
@using HoleyForkingShirt.Models.Interfaces

@model customerAddressType

@inject UserManager<ApplicationUser> UserManager
@inject ICartManager  CartManager
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
    <main>
        <h1>Order Details:</h1>

        <p>
            Name: @Model.firstName @Model.lastName
        </p>
        <p>
            Address: @Model.address
        </p>
        <p>
            @Model.city, @Model.state, @Model.country
        </p>

        <h2>RECEIPT:</h2>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Qty</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @*
                    // It's not pretty, butt it works!
                *@
                @foreach (var item in CartManager.GetAllItems(CartManager.GetCart(UserManager.GetUserId(User)).Result.ID).Result)
                {
                    <tr>
                        <td>@item.Product.Name</td>
                        <td>@item.Qty</td>
                        <td>$@item.Product.Price</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td>$@CartManager.GetTotal(CartManager.GetCart(UserManager.GetUserId(User)).Result.ID).Result</td>
                </tr>
            </tfoot>
        </table>
    </main>
